{% load i18n %}
<ul id="m2m_{{ name }}" class="acfb-holder">
    {% for pk, label in labels %}
    <li class="acfb-data"><span class="label" id="{{ pk }}">{{ label }}</span><span class="close"></span></li>
    {% endfor %}
    <input type="text" id="lookup_{{ name }}" value="{{ label }}" class="acfb-input" style="display:none;" />
</ul>
<a href="{{ related_url }}{{ url }}" class="related-lookup" id="lookup_id_{{ name }}" onclick="return showRelatedObjectLookupPopup(this);">
  <img src="{{ admin_media_prefix }}img/admin/selector-search.gif" width="16" height="16" alt="{% trans "Lookup" %}" />
</a>
<script type="text/javascript">
$(document).ready(function() {
    // Show lookup input
    function parseJSON(raw) {
        var keywords = raw.results;
        var parsed = [];
        $.each(keywords, function(i, n) {
            parsed.push({data: n, value: n, result: n});
        });
        return parsed
    };
    function formattedItem(row) {
        return row.label;
    };
    function formattedResult(row) {
        return row.pk;
    };
    function {{ safe_name }}_removeFindCallback(o) {
        $('#id_{{ name }}').val({{ safe_name }}_autocomplete.getData());
    }
    function {{ safe_name }}_reset() {
        $('#id_{{ name }}').val('');
        $('#lookup_{{ name }}').val('');
    }
    var {{ safe_name }}_value = $('#id_{{ name }}').val();
    $("#lookup_{{ name }}").show();
    $('#id_{{ name }}').bind(($.browser.opera ? "keypress" : "keyup"), function(event) {
        if ($(this).val()) {
            if (event.keyCode == 27) {
                {{ safe_name }}_reset();
            } else {
                {{ safe_name }}_lookup($(this).val());
            };
        };
    });
    {{ safe_name }}_autocomplete = $('#lookup_{{ name }}').autocompletefb({
            urlLookup: '{{ search_path }}',
            removeCallback: {{ safe_name }}_removeFindCallback,
            acOptions: {
                dataType: "json",
                parse: parseJSON,
                formatItem: formattedItem,
                formatResult: formattedResult,
                multiple: true,
                extraParams: {
                    'search_fields': '{{ search_fields }}',
                    'app_label': '{{ app_label }}',
                    'model_name': '{{ model_name }}',
                }
            }
    });
    {{ safe_name }}_autocomplete.input.keyup(function(event){
        if (event.keyCode == 27) {
            {{ safe_name }}_reset();
            {{ safe_name }}_autocomplete.clearData();
        };
    });
    {{ safe_name }}_autocomplete.autocomplete.result(function(event, data, formatted) {
        if (data) {
            $('#id_{{ name }}').val({{ safe_name }}_autocomplete.getData());
        }
    });
    function {{ safe_name }}_lookup(query) {
		console.log(query);
        if (query[query.length-1] == ",") return
        splitted = query.split(",");
        splitted = $.grep(splitted, function (item) {
            return item != "";
        });
        query = splitted[splitted.length-1];
        $.getJSON('{{ search_path }}', {
            'search_fields': '{{ search_fields }}',
            'app_label': '{{ app_label }}',
            'model_name': '{{ model_name }}',
            'get_obj': 'true',
            'q': query
        }, function(data) {
            $.each(parseJSON(data), function(i, n) {
                {{ safe_name }}_autocomplete.createItem({
                    pk: n.data.pk,
                    label: n.data.label
                });
            });
        });
    }
    function {{ safe_name }}_check() {
        {{ safe_name }}_check_val = $('#id_{{ name }}').val();
        if ({{ safe_name }}_check_val) {
            if ({{ safe_name }}_check_val != {{ safe_name }}_value) {
                {{ safe_name }}_lookup({{ safe_name }}_check_val);
            }
        }
    }
    //timeout = window.setInterval(check, 300);
});
</script>
