language: python

python:
  - 2.6
  - 2.7
  - 3.3

env:
  - DJANGO=Django==1.3 --use-mirrors
  - DJANGO=Django==1.4 --use-mirrors
  - DJANGO=Django==1.5 --use-mirrors

install:
  - pip install -q $DJANGO
  - pip install flake8 --use-mirrors
  - if [[ $TRAVIS_PYTHON_VERSION < '3.0' ]]; then pip install -q python-keyczar --use-mirrors; fi
  - pip install -q PyYAML --use-mirrors
  - pip install -e . --use-mirrors

script:
  - flake8 --ignore=E501,W391 .
  - python setup.py test

matrix:
  exclude:
    - python: 3.3
      env: DJANGO=Django==1.3 --use-mirrors
    - python: 3.3
      env: DJANGO=Django==1.4 --use-mirrors
