name: PyTest

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        python-version:
          - 3.7
          - 3.8
          - 3.9
          - "3.10"
          - "3.11"
          # 2023-06-05: disabled pypy3.9 due to asgiref typing error
          # - "pypy3.9"
        tox-django-version:
          - "32"
          - "40"
          - "41"
          - "42"
          # GH Actions don't support something like allow-failure ?
          # - "master"
        exclude:
          - python-version: "3.7"
            tox-django-version: "40"
          - python-version: "pypy3.9"
            tox-django-version: "40"
          - python-version: "3.6"
            tox-django-version: "41"
          - python-version: "3.7"
            tox-django-version: "41"
          - python-version: "pypy3.9"
            tox-django-version: "41"
          - python-version: "3.6"
            tox-django-version: "42"
          - python-version: "3.7"
            tox-django-version: "42"
          - python-version: "pypy3.9"
            tox-django-version: "42"
        include:
          - tox-django-version: "42"
            python-version: "3.12"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m pip install tox
      - name: Pytest
        run: tox -e py-dj${{ matrix.tox-django-version }}

  pytest-postgresql:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: django_extensions_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        python-version:
          - "3.10"
        tox-django-version:
          - "32"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m pip install tox
      - name: Pytest
        run: tox -e py-dj${{ matrix.tox-django-version }}-postgres
        env:
          DJANGO_EXTENSIONS_DATABASE_HOST: localhost
          DJANGO_EXTENSIONS_DATABASE_USER: postgres
          DJANGO_EXTENSIONS_DATABASE_PASSWORD: postgres
